$sans-serif-font:     'Roboto Condensed', 'Segoe UI', 'Arial', sans-serif;
$serif-font:          'Abril Fatface', 'Playfair Display', 'Times New Roman', serif;

$link-color:          $white;
$paragraph-color:     $white;
$headings-color:      $white;


$h1-mobile:         35px;
$h2-mobile:         38px;
$h3-mobile:         26px;
$h4-mobile:         24px;
$h5-mobile:         20px;
$h6-mobile:         16px;

$h1-tablet:         45px;
$h2-tablet:         48px;
$h3-tablet:         36px;
$h4-tablet:         24px;
$h5-tablet:         20px;
$h6-tablet:         22px;

$h1-desktop:        62px;
$h2-desktop:        58px;
$h3-desktop:        36px;
$h4-desktop:        24px;
$h5-desktop:        20px;
$h6-desktop:        24px;

