.m-oMeni {

  &__text {
    margin-top: 40px;

    img {
      margin-bottom: 50px;
    }

    p {
      font-size: 20px;
      line-height: 30px;

      span {
        font-family: $serif-font;
        font-size: 30px;
        text-transform: uppercase;
      }
    }
  }
}