.m-pageContent {
  padding: 0;
  width: 100vw;
  height: 100%;

  &.-homepage {
    background-image: linear-gradient( rgba($black, .5) 100%, rgba($black, .5) 100%) , url("src/images/homepage/homepage-bcg.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-darkBcg {
    background-image: none;
    padding-bottom: 50px;
  }

  &.-heightFitContent {
    height: 100%;
  }

  &.-heightAuto {
    height: auto;
  }

  &__wrapper {

    &.-paddingTop {
      padding-top: 150px;
    }
  }
}