.a-button {
  border: none;
  outline: none;
  background-color: $white;
  padding: 15px 0;
  margin-top: 20px;
  font-family: $sans-serif-font;
  font-size: 18px;
  color: $gray-dark;
  text-transform: lowercase;
}